@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body {
  font-family: 'Oswald', sans-serif;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #CAE7EB;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after,{
  display: table;
  content: " ";
}

.row:after, {
  clear: both;
}

.pull-right {

}
